@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: #56b0ff;
    --brand-light: #0080ff;

    --background: 0 0% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 5%;
    --foreground: 210 40% 98%;

    --brand: #0080ff;
    --brand-light: #56b0ff;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 61.6%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

/* Table Styles */

.lexical-table {
  border-radius: 15px;
  overflow: hidden;
}

.lexical-table-row {
  transition: background-color 0.25s;
}

.lexical-table-cell-header-1 {
  font-weight: bold;
}

.lexical-table-cell {
  border: none !important;
  padding: 0px 16px !important;
}

html[data-theme='dark'] {
  .lexical-table-cell-header-1,
  .lexical-table-cell-header-2 {
    color: white;
  }

  .lexical-table-cell-header-0 {
    color: rgb(172, 172, 172);
  }

  .lexical-table-row:hover {
    background-color: rgb(20, 20, 20);
  }
}

html[data-theme='light'] {
  .lexical-table-cell-header-0 {
    color: rgb(54, 54, 54);
  }

  .lexical-table-row:hover {
    background-color: rgb(245, 245, 245);
  }
}
